body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("pictures/background-image.jpg");
  background-position: center top;
  background-size: fill;
}

dialog {
  background-image: url("pictures/vintage-grunge-paper-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#screen {
  display: grid;
  position: static;
  grid-template-columns: 1fr 10fr;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

footer {
  position: fixed;
  width: 100%;
  height: 10%;
  text-align: center;
  bottom: 0;
  font-size: 2em;
}
.hidden {
  visibility: hidden;
}

/* MENU SECTION */
#menu-section {
  background-color: rgb(0, 7, 89);
  color: white;
  position: relative;
  padding: 20px;
  margin: 0px;
}

#menu-section button {
  border-radius: 0px;
  border-style: none;
  height: 2em;
  width: 20em;
}

/* MAIN GRID CONTAINER */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2%;
  padding: 2em;
}

/* FORMS */
#creation-form,
#update-form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  width: fit-content;
}

.double-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.double-buttons input {
  transition: all 0.2s ease;
  background-color: rgba(110, 55, 0, 0.232);
  border: 1px solid black;
}

.double-buttons input:hover {
  background-color: rgba(110, 55, 0, 0.544);
  border: 1px solid black;
}

#stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

#close-creation-button {
  height: 2em;
  width: 2em;
  text-align: center;
  border: none;
  background: none;
  margin-left: auto;
  margin-right: 0px;
}

#close-creation-button:hover {
  background-color: rgba(0, 0, 0, 0.144);
}

#close-details-button {
  display: none;
  position: absolute;
  right: 20px;
  height: 2em;
  width: 2em;
  text-align: center;
  border: none;
  background: none;
  margin-left: auto;
  margin-right: 0px;
}
/* ------ Posts (grid) ------ */
.post-grid {
  /* background-color: darkgray; */
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2em;
  column-gap: 0.5em;
  width: 100%;
}
@media (min-width: 630px) {
  .post-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 930px) {
  .post-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .post-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1500px) {
  .post-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 2000px) {
  .post-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.post-item {
  display: grid;
  grid-template-columns: 1fr;
  background-image: url("pictures/vintage-grunge-paper-background.jpg");
  background-size: cover;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.273);
  padding: 10px;
  border: 1px solid rgb(159, 81, 3);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  text-align: left;
  transition: all 0.2s ease-in-out;
  max-width: 400px;
  object-fit: fill;
}

.post-item img {
  border: 1px solid black;
  text-align: center;
  align-self: center;
  align-items: center;
  margin: auto;
  width: 200px;
  height: 300px;
  object-fit: cover;
  object-position: center left;
}

.post-item:hover {
  transform: scale(1.05);
}

#post_stats_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

#post_name {
  font-size: 1.5em;
  color: rgb(110, 55, 0);
  text-align: center;
  font-weight: bold;
}

.post-item button {
  transition: all 0.2s ease;
  background-color: rgba(110, 55, 0, 0.232);
  border: 1px solid black;
}

.post-item button:hover {
  background-color: rgba(110, 55, 0, 0.544);
  border: 1px solid black;
}

#details-view {
  position: relative;
  border: 3px solid rgba(110, 55, 0, 0.544);
  border-radius: 10px;
  align-items: center;
  align-content: center;
  align-self: center;
  margin: auto;
  background-image: url("pictures/vintage-grunge-paper-background.jpg");
  background-size: cover;
}

#details-view img {
  border: 1px solid black;
  align-items: center;
  align-content: center;
  align-self: center;
  margin: auto;
  max-width: 35em;
  max-height: 35em;
  object-fit: contain;
}

#details-text-section {
  max-width: 32em;
  text-align: left;
}

#details-close-btn {
  display: block;
  position: absolute;
  right: 20px;
  margin-bottom: 30px;
  transition: all 0.2s ease;
  background-color: rgba(110, 55, 0, 0.232);
  border: 1px solid black;
  width: 2em;
  height: 2em;
  text-align: center;
  margin-left: auto;
  margin-right: 0px;
  align-self: right;
}

#details-view button:hover {
  background-color: rgba(110, 55, 0, 0.544);
  border: 1px solid black;
}

/* ------ Animations ------ */
.slideUp {
  animation-name: slideUp;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.slideDown {
  animation-name: slideDown;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
@keyframes slideUp {
  0% {
    height: 0%;
  }
  100% {
    height: 10%;
  }
}
@keyframes slideDown {
  0% {
    height: 10%;
  }
  100% {
    height: 0%;
  }
}

/* ------- SORT-BY BOX! ------- */
label {
  margin-right: 5px;
}

select {
  padding: 5px;
  margin-top: 10px;
}
